[Unit]
Description=Tcpmon - simple network monitor
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/tcpmon start
User=root
Group=root
Restart=always
RestartSec=3
MemoryMax=300M

[Install]
WantedBy=multi-user.target
